<div class="about_container">
    <h1 class='text-center'>OUR STORY</h1>
    <img class="about_banner" src="assets/about_banner_03.jpg" alt="">
    <p class='text-center sub_banner'>STYLE &#8226; EXPRESSION &#8226; QUALITY</p>
    
    <div class="about_content">
        <p>Yo Sox is fueled by a group of sock aficionados who pledge to make your feet fashionable and fun.  This group of dedicated individuals subscribe to a single unified motto: style, expression, quality.</p>
        <p>Our style comes from the ground up.  When you choose to wear a pair of Yo Sox you are choosing to make a statement.</p>    
        <p>At Yo Sox we believe your style may be subtle or loud, but ultimately you've got something to say.</p>
        <p>Located in Toronto, one of the creative capitals of Canada, Yo Sox's home base harbours a handful of gifted individuals doing what they do best: giving feet expression!</p>    
        <p>When you pull on a pair you can confident you have on the highest quality statement making fashion socks in the market and that's our promise to you.</p>
    </div>
</div>