<footer>
    <div class="footer_list_container container_x">
        <div class="row footer_container">
            <div class="col-md-3 footer_list">
                <ul>
                    <li class="footer_list_header">OUR STORY</li>
                    <li>ABOUT US</li>
                    <li>NEWS & EVENTS</li>
                </ul>
            </div>
            <div class="col-md-3 footer_list">
                <ul>
                    <li class="footer_list_header">RESOURCES</li>
                    <li>CONTACT US</li>
                    <li>BECOME A RETAILER</li>
                    <li>LOOK BOOKS</li>
                    <li>FAQ</li>
                    <li>SITE MAP</li>
                </ul>
            </div>
            <div class="col-md-3 footer_list">
                <ul>
                    <li class="footer_list_header">OUR POLICIES</li>
                    <li>TERMS & CONDITIONS</li>
                    <li>PRIVACY POLICY</li>
                </ul>
                <ul class='social_ul' id="social_ul">
                    <li class="footer_list_header social">CONNECT WITH US!</li>
                    <li>
                        <img src="assets/social_icons_03.jpg" alt="" class="social_icons">
                        <img src="assets/social_icons_05.jpg" alt="" class="social_icons">
                        <img src="assets/social_icons_07.jpg" alt="" class="social_icons">
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer_list">
                <img class="footer_grid_picture" src="assets/footer_grid_picture.jpg" alt="soccer picture">
            </div>
        </div>
    </div>

    <div class="footer_cards">
        <!--Logo-->
        <div class="footer_logo_div">
            <img src="assets/logo.png" alt="yo sox logo">
        </div>
        <!--Accepted Payment Methods-->
        <div class="payments">
            <img src="assets/accepted_payments_03.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_04.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_05.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_06.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_07.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_08.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_09.jpg" alt="accepted credit card" class="payment_pic">
            <img src="assets/accepted_payments_10.jpg" alt="accepted credit card" class="payment_pic">
        </div>
    </div>
</footer>