<header>
    <!--Top Row Nav [wishlist, checkout, myaccount...]-->
    <nav class="topNav">
        <div class="topNav_container">
            <!--Logo-->
            <div class="header_logo_div">
                <a href="index.html">
                    <img src="assets/logo.png" alt="">
                </a>  
            </div>
            <!--Nav-->
            <ul>
                <div class="choices">
                    <!--wish list-->
                    <img src="assets/header_icons_heart.jpg" alt="heart">
                    <li class="topNavItem">WISH LIST</li>

                    <!--checkout-->
                    <img src="assets/header_icons_cart.jpg" alt="cart">
                    <li class="topNavItem">CHECKOUT</li>

                    <!--my account-->
                    <img src="assets/header_icons_star.jpg" alt="star">
                    <li class="topNavItem">MY ACCOUNT</li>
                    <li>|</li>
  
                    <!--logout-->
                    <li class="topNavItem" id='logout'>LOGOUT</li>
                    <li class="topNavItem">ENG</li>
                    <img src="assets/lang_arrow_03.jpg" alt="">
                </div>
                
            </ul>
        </div>
    </nav>

    <!--Main Nav [men, women, socks...]-->
    <nav class="mainNav">
        <div class="mainNav_container">
            <ul class="nav_list">
                <li class='mainNavItem'>                                                                                           
                   <a id="men_link" href="men.html">MEN</a>                                                                       
                   <ul class="men_dropdown">                                                                                                           
                       <li class="men_dropdown_item">NEW ARRIVALS</li>                                                            
                       <li class="men_dropdown_item">CREW</li>                                                                    
                       <li class="men_dropdown_item">NOVELTY</li>                                                                 
                       <li class="men_dropdown_item">PATTERNS</li>                                                                
                   </ul>                                                                                                          
               </li>                                                                                                              
               <li class='mainNavItem'>                                                                                           
                   <a id="men_link" href="#">WOMEN</a>                                                                            
                   <ul class="men_dropdown">                                                                                                           
                       <li class="men_dropdown_item">OLD ARRIVALS</li>                                                            
                       <li class="men_dropdown_item">LINENS</li>                                                                  
                       <li class="men_dropdown_item">LACE</li>                                                                    
                       <li class="men_dropdown_item">MYSTIQUE</li>                                                                
                   </ul>                                                                                                          
               </li>                                                                                                              
               <li class='mainNavItem'>                                                                                           
                   <a id="men_link" href="#">ALL SOCKS</a>                                                                        
                   <ul class="men_dropdown">                                                                                                           
                       <li class="men_dropdown_item">LINEN</li>                                                                   
                       <li class="men_dropdown_item">FLANNEL</li>                                                                 
                       <li class="men_dropdown_item">WOOL</li>                                                                    
                       <li class="men_dropdown_item">SILK</li>                                                                    
                       <li class="men_dropdown_item">COTTON</li>                                                                  
                       <li class="men_dropdown_item">FLAX</li>                                                                    
                   </ul>                                                                                                          
               </li>                                                                                                              
               <li class='mainNavItem'>                                                                                           
                   <a id="men_link" href="#">SOCIAL SCENE</a>                                                                     
                   <ul class="men_dropdown">                                                                                                           
                       <li class="men_dropdown_item">FACEBOOK</li>                                                                
                       <li class="men_dropdown_item">TWITTER</li>                                                                 
                       <li class="men_dropdown_item">LIVING SOCIAL</li>                                                           
                   </ul>                                                                                                          
               </li> 
               <li class='mainNavItem'>                                                                                           
                   <a id="men_link" href="about.html">OUR STORY</a>                                                                                                                                                                           
               </li> 
            </ul>
            

            <ul class="cart_search">
                <li>
                    <input type="text" class="search">
                </li>
                <li>
                    <img class="cart" src="assets/header_icons_cart_5.png" alt="">
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--Hidden Menu-->
<div class="mobile_nav">
    <div class="hidden_menu_container">
        <div class="row">

            <!--Menu Icon-->
            <div class="col-xs-3">
                <span class="glyphicon glyphicon-menu-hamburger mobile_menu_icon" aria-hidden="true"></span>
            </div>
            
            <!--Logo -->
            <div class="col-xs-6 mobile_logo">
                <a href="index.html"><img class="mobile_logo_img" src="assets/logo.png" alt="logo"></a>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>

<div class="hidden_menu">
    <nav class="hidden_menu_ul">
        <ul>
            <li class=''>
                <a id="men_link" href="men.html">MEN</a>
                <ul class="hidden_menu_submenu">
                    <li>NEW ARRIVALS</li>
                    <li>SOCKS</li>
                    <li>GIRLY SOCKS</li>
                </ul>
            </li>
            <li class=''>
                <a href="#">WOMEN</a>
                <ul class="hidden_menu_submenu">
                    <li>OLD ARRIVALS</li>
                    <li>LINENS</li>
                    <li>LACE</li>
                </ul>
            </li>
            <li class=''>
                <a href="#">ALL SOCKS</a>
                <ul class="hidden_menu_submenu">
                    <li>LINEN</li>
                    <li>FLANNEL</li>
                    <li>WOOL</li>
                </ul>
            </li>
            <li class=''>
                <a href="#">SOCIAL SCENE</a>
                <ul class="hidden_menu_submenu">
                    <li>FACEBOOK</li>
                    <li>TWITTER</li>
                    <li>LIVING SOCIAL</li>
                </ul>
            </li>
            <li class=''>
                <a id="story_link" href="about.html">OUR STORY</a>
            </li>
        </ul>
    </nav>
</div>