<div class="mobile_nav">
    <div class="hidden_menu_container">
        <div class="row">

            <!--Menu Icon-->
            <div class="col-xs-3">
                <span class="glyphicon glyphicon-menu-hamburger mobile_menu_icon" aria-hidden="true"></span>
            </div>
            
            <!--Logo -->
            <div class="col-xs-6 mobile_logo">
                <img class="mobile_logo_img" src="assets/logo.png" alt="logo">
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>
<!--
<div class="hidden_menu">
    <p>asdfsadf</p>
</div>-->