$blue: #5abfeb;
$values_grey: #d9dadc;

@mixin rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-indicators {

    top: 105%;

    li {
        background-color: #b2b3b5;
        border: none;
        width: 15px;
        height: 15px;
        margin: 0;
    }
   
    .active {
        background-color: #039ce0;
        width: 15px;
        height: 15px;
    }
}

.carousel {
    position: relative;
    margin-top: 25px;
}

// New Arrivals
.arrivals_container{
    text-align: center;
    width: 80%;
    margin: 75px auto 0;

    .free_shipping {
        color: $blue;
        font-size: 0.7em;
    }
}

// Men's Socks Item
.mens_item {
    height: 200px;
    margin-bottom: 3%;

    .hoverDiv {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 0.9;
        z-index: 500;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.25s ease-in;

        &:hover {
            background-color: $logo_red;
        }
        
        p {  
            color: white;
            cursor: pointer;
            margin: 5px 50px;
            font-size: 1.5em;
            // border: 1px solid darken($logo_red, 10%);
            // width: 35%;

            &:hover {
                color: lighten($logo_red, 43%);
            }

            &:nth-child(1) {
                margin-top: 75px;
            }
        }
    }

    &:hover {

        img {
            width: 53%;
            transition: all 0.15s ease-in;
        }

        .hoverDiv {
            display: block;     
        }
    }

    ul {
        padding-top: 75px;
    }

    img {
        width: 50%;
        vertical-align: middle;
    }
}

// Yo Chatter
.yo_chatter {
    background-color: #f6f6f6;
    text-align: center;
    padding: 3%;
 
    .chatter_header {
        font-weight: 100;
        letter-spacing: 0.4em;
        font-size: 1.5em;
    }

    .social {
        padding-top: 15px;
    }

    .icons {
        display: inline;

        img {
            width: 25px;
        }
    }

    .carousel-indicators {
        display: none;
    }

    .carousel_item {
        width: 70%;
        margin: 0 auto;

        .chatter_carousel_img {
            width: 25%;
            display: inline-block;
        }
        .quote {
            display: inline-block;
            width: 74%;
            text-align: right;
            vertical-align: middle;
            padding-right: 25%;

            .quote_content {
                font-size: 1.4em;
                letter-spacing: 0.3em;
            }
            .quote_author {
                font-size: 0.7em;
                padding-right: 25px;
            }
        }
    }
}

// Support
.support {
    background-color: #9c9d9f;
    // width: 75px;
    @include rotate;
    display: inline-block;
    height: 80px;
    color: white;
    position: absolute;
    top: 525;
    left: -55;

    p {
        padding: 10px 20px 30px;
        font-style: italic;
    }

    &:hover {
        left: -20;
        transition: all 0.25s ease-in-out;
        background-color: $logo_red;
    }
}

// Values
.values {
    background-color: #d9dadc;
    padding: 50px;

    .values_container {
        width: 70%;
        margin: 0px auto;
        

        h4 {
            font-size: 0.7em;
            font-weight: 700;
        }
        p {
            font-size: 0.6em;
            padding-right: 50px;
        }
    }
}