@import 'https://fonts.googleapis.com/css?family=Raleway:100,400,700';

body {
    background-image: url('../assets/home_removeMenu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 60%;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
}

.splashMenu {
    padding: 15px;
    margin-top: 6%;
    margin-left: 8%;
    background-color: rgba(255,255,255,0.75);
    width: 250px;
    height: 250px;
}

.splashMenuItem {
    display: inline;
    padding: 5px;
}

// Tablets
@media only screen and (max-width: 960px){
    body {
        background-position: 40% 100%;
    }

    .splashMenu {
        margin: 15% auto;
        width: 450px;
        height: 450px;
        padding: 10%;
    }
    
}

// Phones
@media only screen and (max-width: 640px){
    body {
        background-position: 20% 100%;
    }
    .splashMenu {
        margin: 5%;
        width: 80%;
    }
}