@import 'https://fonts.googleapis.com/css?family=Raleway:100,400,700';
$red: #e0013a;


body {
    background-image: url('../assets/home_removeMenu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 60%;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
}

a {
    color: inherit;

    &:hover {
        color: $red;
    }
}

.splashMenu {
    padding: 15px;
    margin-top: 6%;
    margin-left: 8%;
    background-color: rgba(255,255,255,0.75);
    width: 250px;
    height: 250px;
}

.splashMenuContent {
    margin-top: 25px;

    .customize {
        font-size: 0.5em;
        color: #a6a6a8;
        margin-bottom: 3px;
        margin-top: -10px;
    }
}

.splashMenuItem {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: 100;

    &.first {
        box-sizing: content-box;
    }

    
}

.separator {
    border-right: 1px solid #a6a6a8;
    display: inline;
    font-size: 2em;
    top: 5px;
    position: relative;
}

// Tablets
@media only screen and (max-width: 960px){
    body {
        background-position: 40% 100%;
    }

    .splashMenu {
        margin: 150px auto;
        width: 450px;
        height: 450px;
        padding: 100px;
    }
    
}

// Phones
@media only screen and (max-width: 640px){
    body {
        background-position: 20% 100%;
    }
    .splashMenu {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
}